<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body class="flexWrapper">
        <header class="header">
            <h1>Hi, I'm the {{title}} Header.</h1>
        </header>

        <main class="main">
            <h2>Hi, I'm the {{title}} Body.</h2>
            {{{body}}}
        </main>

        <footer class="footer">
            <h3>Hi, I'm the {{title}} Footer.</h3>
        </footer>

        <script src="script.js"></script>
    </body>
</html>